*{
    margin: 0 auto;
    padding: 0px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    margin: 150px;
}

.container{
    width: 600px;
    height: 350px;
    border: 2px solid rgb(173, 173, 173);
    display: flex;
    justify-content: space-around;
}

.fila-2{
    background-color: rgb(128, 246, 246);
    height: 110px;
}

#JaneDoe{
    height: 150px;
    width: 140px;
    margin: 30px;
}

.content{
    background-color: white;
    width: 550px;
    height: 100px;
    align-items: center;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 10px;

}

.icon{
    width: 16px;
    height: 20px;
    margin: 2px;
}

h1, p, a{
    margin-left: 20px;
}